*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    background-image: url(Img/back.png);
    background-position: center;
    background-size: 800px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#doll{
    height: 450px;
    background-image: url(Img/Object.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

#toRotate{
    height: 900px;
    width: 250px;
    transition: transform 0.75s;
}

#cont{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#action{
    width: 50%;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30rem;
}

#control{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.ind{
    width: 100px;
}

.fi{
    flex-grow: 1;
}

#tog{
    padding: 1rem;
    background-color: rgba(241, 142, 91, 0.7);
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: sans-serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0px 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

#rules{
    width: 100%;
    padding: 1rem 0rem 0.5rem 0rem;
    display: flex;
    justify-content: space-evenly;
    display: none;
}

.rGroup{
/*    background-color: rgba(255, 255, 255, 0.9);*/
    min-width: 300px;
    height: 37px;
    display: flex;
    padding: 1px 5px;
}

.rGroup span{
    padding: 4px 0px;
    flex-grow: 1;
    text-align: center;
}

#attribution{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 1rem;
    background-color: rgba(241, 142, 91, 0.7);
    font-size: 20px;
    text-align: center;
    width: 100%;
    font-family: sans-serif;
    z-index: 999999;
}

#attribution span{
    font-weight: bold;
}

.mob #attribution{
    font-size: 3rem;
    padding: 1.5rem;
}

.mob #tog{
    font-size: 3rem;
    padding: 1.5rem;
}

.mob .switch{
    height: 3.5rem;
    width: 6rem;
    top: 0.5rem;
}

.mob .slider:before{
    height: 2.5rem;
    width: 2.5rem;
    bottom: 0.5rem;
    left: 0.5rem;
}

.mob input:checked + .slider:before {
  transform: translateX(2.3rem);
}

.mob #rules{
    flex-direction: column;
}

.mob .rGroup{
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.mob .rGroup span{
    flex-grow: 0;
}

.mob{
    background-size: contain;
}

.mob #action{
    width: 80%;
    padding-top: 60rem;
}

.mob #toRotate{
    height: 1800px;
    width: 450px;
    transition: transform 0.75s;
}

.mob #doll{
    height: 900px;
}

.mob .ind{
    width: 20vw;
}

button{
    font-size: inherit;
    background-color: tomato;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: ghostwhite;
    margin: 0px 20px;
    display: none;
}

a{
    color: inherit;
    text-decoration: none;
}

#tb{
    display: flex;
    width: 100%;
    justify-content: center;
}

#tb div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mob #tb{
    flex-direction: column;
}

.mob #tb div{
    order: -1;
    margin-bottom: 1rem;
} 

.mob #tb button{
    margin-bottom: 1rem;
}

.mob .rGroup{
    justify-content: flex-end;
}

.mob .rGroup span{
    min-width: 50%;
    text-align: left;
    margin: 0rem 2rem;
}
